<div class="container">
  <div class="container mt-5 mb-5">
    <h4>Filter options</h4>
    <select
      [(ngModel)]="condition.column"
      class="form-control">
      <option [ngValue]="criteria" *ngFor="let criteria of filterHeaders">{{criteria}}</option>
    </select>
    <select
      [(ngModel)]="condition.category"
      class="form-control">
      <option [ngValue]="filter" *ngFor="let filter of filters">{{filter}}</option>
    </select>
    <input
      [(ngModel)]="condition.value" 
      class="form-control"
      type="text"
      placeholder="value" />
    <button type="button"
      (click)="addFilter()"
      class="btn btn-primary mt-3">Add
    </button>
  </div>

  <div class="container mt-5 mb-5">
    <h4>Selected filters</h4>
    <ul class="list-group">
      <li
      *ngFor="let condition of filterConditions; let index=index"
      class="list-group-item d-flex justify-content-between align-items-center">
      {{condition.column}} {{condition.category}} {{condition.value}}
      <span class="remove" (click)="removeFilter(index)">&times;</span></li>
    </ul>
    <p *ngIf="!filterConditions.length">No filters selected.</p>
    <p *ngIf="filterConditions.length" class="text-center mt-5"> {{filteredResultCount}} result found</p>
  </div>
</div>